#### Steps in building a model
* Read data
* Feature engineering
* Create a train set and a test set
* Use train set to build the model
* Test the model
* Visualize

In [18]:
# Importing essential libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Read data

In [19]:
#importing data from csv file
computers = pd.read_csv("computers.csv")
computers.head(5)

   Units  Minutes
0      1       23
1      2       29
2      3       49
3      4       64
4      4       74

### Feature engineering

In [20]:
# Calculating the mean
mean_value = computers['Minutes'].mean()
mean_value

97.21428571428571